/* CSS declarations go here */
html, body {
    height:100%;
}

body {
  font-family: sans-serif;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  font-size: 14px;
  background-color: white;
  font-family: 'Maven Pro', sans-serif;
  background-color: beige;
}

.page_titles{
  text-align: center;
  font-size: 60px;
  margin-top: 70px;
  color: #666666;
  font-family: 'Maven Pro', sans-serif;
}


nav{
  float: right;
}

.login-link-and-dropdown-list{
  margin: 10px 0;
}

.list-div {
  padding: 10px;
}

h1,h2,h3 {
  margin : 0;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

a{
  text-decoration: none;
}

.btn {
  padding: 3px 5px;
  background-color: #ffcc00;
}
