/* CSS declarations go here */
body {
  font-family: sans-serif;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  font-size: 14px;
  background-color: #4FA4C9;
}

.main-layout {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
}

nav{
  float: right;
}

.login-link-and-dropdown-list{
  margin: 10px 0;
}

.container {
  /*max-width: 600px;
  margin: 0 auto;
  min-height: 100%;*/
  background: white;
}

.list-div {
  padding: 10px;
}

h1,h2,h3 {
  margin : 0;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  border-bottom: #eee solid 1px;
}

.btn {
  padding: 3px 5px;
  background-color: #ffcc00;
}


#suggested-friends {
  min-height: 100%;
  padding : 10px 10px;
}
