#back-to-playlist-link{
  margin: 15px 0;
  display: block;
}

#spotify_player{
 padding-top: 15px;
 margin-left: 20px;
}

.backLink{
 /*margin-bottom: 100px;*/
 margin-top: 10px;
 margin-right: 10px;
 float: left;
 color: #666666
}

.backLink:hover{
  color: #e53509;
}

.backLink:hover {
  color: #e53509;
}

#track_div{
  margin-left: 65px;
  overflow-y: auto;
  height: 47%;
}

#track_list{
  padding-top: 10px;
  padding-left: 20px;
}

#playlist_title{
  font-size: 50px;
  margin-right: 50px;
  color: #666666
}
