<template name='page_footer'>
  <footer>
    <span id="designer-names">
      By: 
      <a href="https://github.com/souljuse">Irene Oppo</a>, 
      <a href="https://github.com/James-SteelX">James Steel</a>, 
      <a href="https://github.com/tadasmajeris">Tadas Majeris</a>, 
      <a href="https://github.com/Tomy8s/">Tom Yates</a>
    </span>
    <span id="repo-link-para">
      <a href="https://github.com/Tomy8s/music_mates"><span id="repo-link-text">Source code</span><img src="/GitHub-Mark-32px.png" alt="Octocat"></a>
    </span>
  </footer>
</template>
