footer{
    height: 32px;
    padding: 7px 0;
    width: 80%;
    background-color: #ddd;
    display: block;
    position: fixed;
    bottom:0;
}

footer, footer a{
    color: #484848;
}

footer a:hover{
    color: #777777;
    text-decoration: underline;
}

footer #designer-names{
    float: left;
    vertical-align: middle;
    line-height: 32px;
    height: 32px;
}

footer #repo-link-para img{
    vertical-align: middle;
}

footer #repo-link-para{
    float: right;
    vertical-align: middle;
    line-height: 32px;
    height: 32px;
}

footer #repo-link-para span{
    margin: 5px;
}

footer span{
    margin: 0 20px;
}
