<template name="MainLayout">

  <div class="container">

    <header id='container_header'>
      <div id="logo_div">
        <img id="logo" src="/logo_horizontal.png" />
      </div>

        <div id="navigation">
          {{> Navigation}}
        </div>

        <div id="sign_in_div">
          {{> LoginButtons }}
        </div>

    </header>

    <main>
      <div class="main-layout">
        {{> Template.dynamic template=main}}
      </div>
    </main>
  </div>
  {{> page_footer }}
</template>
