
header{
  top:0;
  right:0;
  left:0;
  width: 100%;
  height: 70px;
  display: inline-block;
  background-color: white;
  position: relative;
  margin:auto;
  display: table;
}

#logo_div{
  display: table-cell;
  /*position: absolute;*/
  float: left;
  height: 100%;
  width: auto;
}

#logo{
  height: 100%;
}

#sign_in_div{
  padding-right: 15px;
  padding-top: 20px;
  float: right;
  color: #666666;
}

#sign_in_div:hover {
   color: #e53509;
}

#navigation{
 top: 25px;
 float: left;
 padding-top: 29px;
 padding-left: 10px;
}

#banner{
  position:absolute;
  top:70px;
  right:0;
  bottom:0;
  left:0;
  font-family: 'Maven Pro', sans-serif;
  background: url("/listen.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

#banner h1{
  color: white;
  font-size: 300px;
  height: 100%;
  vertical-align: middle;
}

#container_header{
  position: fixed;
  top: 0;
  display: inline-block;
  width: 100%;
  height: 70px;
}

#home_sign_in{
  text-align: center;
  font-family: 'Maven Pro', sans-serif;
  margin: 0 auto;
  margin-top: 5px;
  width: 50%;
  border-radius: 4px;
  font-size: 35px;
  color: #666666;
}

#home_header{
  position:absolute;;
  text-align: center;
  width: 100%;
  background-color: white;
  z-index: 2;
}

.navButton{
  text-decoration: none;
  position: relative;
  display: inline-block;
  margin-right: 20px;
  font-family: 'Maven Pro', sans-serif;
  color: #666666
}

.navButton:hover {
   color: #e53509;
}

.selected_route{
  text-decoration: none;
  position: relative;
  display: inline-block;
  margin-right: 20px;
  font-family: 'Maven Pro', sans-serif;
  color: #666666
}

.selected_route:hover{
  color: #e53509;
}

.main-layout {
  margin: auto;
  height: 100%;
  background-color: white;
  padding : 30px;
}

#__blaze-root{
  width:80%;
  margin: auto;
  height: 86%;
  background-color: white;
  /*margin-bottom: */
}
.container{
  height: 100%;
}
