
#import_button_div{
  margin-bottom: 20px;
}

.playlist_link{
  font-size: 16px;
  color: black;
}

.playlist_link:hover {
  color: #4FA4C9;
}

#import_playlists{
  color: #666666;
}

#import_playlists:hover {
   color: #e53509;
}
